@media only screen and (max-width: 600px) {
  .register-box {
    width: 100%;
    margin: 3% auto;
  }
}
.register-box-body {
  background: #337ab7;
  color: #fff;
  padding: 20px;
}
@media only screen and (min-width: 600px) {
  .register-box {
    width: 50%;
    margin: 3% auto;
  }
}
body {
  background-color: #ecf0f5;
}
.navbar-brand img {
  max-height: 50px;
  width: auto;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.wrapper {
  overflow-y: auto !important
}
